* {
  font-family: "Roboto", sans-serif;
}

/* nav */
navigation ul {
  display: flex;
  justify-content: right;
  border: pink;
}

navigation ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

navigation {
  width: 100em;
  border-bottom: 1px solid;
  border-bottom-color: rgb(204, 199, 199);
  border: 1px solid purple;
  list-style: none;
}
/* end nav */

/* sidebar */
.sidebar {
  margin: 0;
  padding: 1rem;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  border: 1px solid red;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* end sidebar  */

/* columns */
#columns {
  display: flex;
  justify-content: space-evenly;
}
.column-1 {
  float: left;
  width: 50%;
  /* border: 1px solid orange; */
  list-style: none;
}
.column-2 {
  display: flex;
  justify-content: left;
  float: right;
  width: 50%;
  border: 1px solid magenta;
  list-style: none;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* end columns */

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
