/* nav */
nav ul {
  display: flex;
  justify-content: right;
  border: pink;
}

nav ul li {
  padding: 1rem;
  list-style: none;
  justify-content: right;
  border: green;
}

nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  justify-content: right;
  border-bottom-color: rgb(204, 199, 199);
  border: purple;
}
/* end nav */

/* sidebar */
.sidebar {
  margin: 0;
  padding: 1em;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  border: red;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4caf50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
/* end sidebar  */

/* columns */
.column-1 {
  float: left;
  width: 50%;
  border: orange;
}
.column-2 {
  float: right;
  width: 50%;
  border: magenta;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* end columns */

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
